.loginInput {
    margin-bottom: 32px;
    &__input {
        padding: 8px;
        // background: transparent;
        border-radius: 12px;
        .ant-input-prefix {
            font-size: 21px;
            margin-right: 8px;
            padding-right: 8px;
        }
        // input {
        //     // background: transparent;
        // }
    }
    &__input:hover,
    .ant-input-affix-wrapper-focused {
        border-color: var(--is-white-color) !important;
        border-bottom: 1px solid var(--is-theme-color) !important;
        box-shadow: none !important;
        .ant-input-prefix {
            border-right: 1px solid var(--is-theme-color);
            svg {
                color: var(--is-theme-color) !important;
            }
        }
    }
    .ant-input-affix-wrapper-status-error {
        .ant-input-prefix {
            border-right: 1px solid var(--is-danger-color);
            svg {
                color: var(--is-danger-color) !important;
            }
        }
    }
    .ant-input-affix-wrapper-status-error:hover,
    .ant-input-affix-wrapper-status-error:active {
        border-color: var(--is-danger-color) !important;
        // border-bottom: 1px solid var(--is-danger-color) !important;
        box-shadow: none !important;
        .ant-input-prefix {
            border-right: 1px solid var(--is-danger-color);
            svg {
                color: var(--is-danger-color) !important;
            }
        }
    }
}
.disabled-message {
    margin-top: -30px;
    margin-bottom: 26px;
    font-size: 12px;
    color: gray;
}